<form>
    <div class="k-content">
        <ul class="field-list">
            <li>
                <img src="https://static1.squarespace.com/static/574f6ccb86db43b347a753ff/t/574fc65720c6475609075cd8/1464845926856/?format=300w"
                     class="img-circle">
            </li>
            <li>
                <div class="k-textbox k-space-right form-element">
                    <label for="email"></label>
                    <input placeholder="Email" type="text" id="email">
                    <i class="k-icon k-i-email"></i>
                </div>
            </li>
            <li>
                <div class="k-textbox k-space-right form-element">
                    <label for="password"></label>
                    <input placeholder="Password" type="password" id="password">
                    <i class="k-icon k-i-lock"></i>
                </div>
            </li>
            <li>
                <button class="k-button k-primary form-element">Log in</button>
            </li>

            <li class="form-element align-left">
                <input type="checkbox" id="remember">
                <label class="text" for="remember">Remember me</label>
            </li>

            <li class="form-element align-left text">
                <a class="text" routerLink="../forgot">
                    Forgot Password?
                </a>
            </li>

        </ul>
    </div>
</form>
