<form #form="ngForm" (ngSubmit)="reset()">
    <div class="k-content">
        <ul class="field-list">
            <li>
                <div class="k-textbox k-space-right form-element">
                    <label for="email"></label>
                    <input placeholder="Email" type="email" id="email" name="email" required [(ngModel)]="model.email">
                    <i class="k-icon k-i-email"></i>
                </div>
            </li>
            <li>
                <button class="k-button k-primary form-element" type="submit">Reset password</button>
            </li>
            <li>
                <re-captcha #captcha size="invisible" siteKey="{{ constants.widgets.reCaptchaSiteKey }}" required name="captcha"
                            [(ngModel)]="model.captcha" (resolved)="reset()"></re-captcha>
            </li>
        </ul>
    </div>
</form>